{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>je suis la page article</h1>
    <div><img src="https://placehold.it/300x250" alt="une image"/></div>
    <p>dfghjklqmsùdtgjukolfghjklmzertuiomxcvbn,;:dfghjklqmsùdtgj
    ukolfghjklmzertuiomxcvbn,;:!dfghjklmùdfghjklqmsùdtgjukolfghjklmzertuiomxcvbn,;:!
    dfghjklmù*zertyuioplkjhgfdswxcvbn,;:!*zertyuioplkjhgfdswxcvbn,;:
    !!dfghjklmù*zertyuioplkjhgfdswxcvbn,;:!</p>

{% endblock %}